body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.calculator {
  display: grid;
  grid-template-areas:
    'expression expression expression expression'
    'display display display display'
    'ac ac divide multiply'
    'seven eight nine subtract'
    'four five six add'
    'one two three equal'
    'zero zero decimal equal';
  grid-column-gap: 2px;
  grid-row-gap: 2px;
  padding: 2px;
  height: 500px;
  width: 400px;
  background-color: #e6e6e6;
}

.calculator__button {
  display: flex;
  justify-content: center;
  align-items: center;
  border: none;
}

.calculator__button:active {
  transform: translateY(3px);
}

.calculator__button--type-ac {
  background-color: #c76363;
}

.calculator__button--type-ac:hover {
  background-color: #c24747;
}

.calculator__button--type-ac:active {
  background-color: #af3131;
  color: black;
}

.calculator__button--type-equal {
  background-color: #8abae0;
}

.calculator__button--type-equal:hover {
  background-color: #4599db;
}

.calculator__button--type-equal:active {
  background-color: #0078d7;
  color: black;
}

.calculator__button--type-number {
  background-color: #fafafa;
}

.calculator__button--type-number:hover {
  background-color: #d6d6d6;
}

.calculator__button--type-number:active {
  background-color: #c3c3c3;
  color: black;
}

.calculator__button--type-operator {
  background-color: #f0f0f0;
}

.calculator__button--type-operator:hover {
  background-color: #d6d6d6;
}

.calculator__button--type-operator:active {
  background-color: #c2c2c2;
  color: black;
}

.calculator__screen {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding-right: 15px;
}

.calculator__screen--type-display {
  font-size: 3em;
}

.calculator__screen--type-expression {
  color: #545454;
  font-size: 1.3em;
}

.expression {
  grid-area: expression;
}

.display {
  grid-area: display;
}

.ac {
  grid-area: ac;
}

.divide {
  grid-area: divide;
}

.multiply {
  grid-area: multiply;
}

.subtract {
  grid-area: subtract;
}

.add {
  grid-area: add;
}

.equal {
  grid-area: equal;
}

.zero {
  grid-area: zero;
}

.one {
  grid-area: one;
}

.two {
  grid-area: two;
}

.three {
  grid-area: three;
}

.four {
  grid-area: four;
}

.five {
  grid-area: five;
}

.six {
  grid-area: six;
}

.seven {
  grid-area: seven;
}

.eight {
  grid-area: eight;
}

.nine {
  grid-area: nine;
}

.decimal {
  grid-area: decimal;
}

#root {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}
